http:
  middlewares:
    # Only Allow Local networks
    local-ipwhitelist:
      ipAllowList:
        sourceRange:
        - 127.0.0.1/32 # localhost
        - 10.0.0.0/8 # private class A
        - 172.16.0.0/12 # private class B
        - 192.168.0.0/16 # private class C
        # ipstrategy:
        #   # enable this when cloudflare proxy in use
        #   depth: 1 # enable this when cloudflare proxy in use
